
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">User Id</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Phone no.</th>
            
            <th scope="col">Gender</th>
            
        </tr>
    </thead>
    <tbody>
      <tr  >
        <th scope="row">{{user.userid}}</th>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phno}}</td>
        <td>{{user.gender}}</td>
       
      

        
      </tr>
    </tbody>
  </table>