<div class="input-group">
    <input type="search" class="form-control rounded" [(ngModel)]="user.name" placeholder="Search" aria-label="Search"
    aria-describedby="search-addon" />
    <button type="button" routerLink="/searchuser/{{user.name}}"   class="btn btn-outline-primary">search</button>
  </div>
  
  <br><br><br>
  
  <table class="table table-hover table-dark">
      <thead>
          <tr>
              <th scope="col">User Id</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Phone no.</th>
              
              <th scope="col">Gender</th>
              <th scope="col">Action</th>
              <th scope="col">Action</th>
              
          </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let us of user">
          <th scope="row">{{us.id}}</th>
          <td>{{us.name}}</td>
          <td>{{us.email}}</td>
          <td>{{us.phno}}</td>
          <td>{{us.gender}}</td>
         
        
          <td> <button (click)="onDelete(us.userId)" class="btn btn-danger">Delete</button></td>
          <td> <button (click)="update(us)" class="btn btn-danger">Edit</button></td>
        </tr>
      </tbody>
    </table>
